 @model IEnumerable<Ecommerce.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h3>KATEGORİLER</h3>

<p>
    <a asp-action="Create" class="btn btn-light mt-1">Yeni Kategori Ekle</a>
</p>
<table class=" table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
               @*@Html.DisplayFor(modelItem => item.CategoryImage)*@
               <img src="@item.CategoryImage" class="w-25"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryNDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-primary w-75 mt-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-info w-75 mt-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger w-75 mt-2">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>








