 @model IEnumerable<Ecommerce.Models.Category>

@{
    ViewData["Title"] = "Index";
}


@*<table class=" table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNDescription)
            </th>
            <th></th>
        </tr>
    </thead>*@
<div class="container w-100 h-100 my-0 mx-4 ">

        <p class="fs-5 mx-4">
                <a asp-action="Create" class="btn btn-light mt-1">Yeni Kategori Ekle</a>
            </p>
        @foreach (var item in Model)
        {

            <div class="card m-4 float-start" style="width: 18rem;">
                <img src="@item.CategoryImage" class="card-img-top " />


                <div class="card-body text-dark text-decoration-none ">
                    @Html.DisplayFor(modelItem => item.CategoryName)


                    <p class="card-text fs-6">
                        @Html.DisplayFor(modelItem => item.CategoryNDescription)

                    </p>
                </div>
            <div class="d-flex justify-content-around align-items-center pb-2 ">
                <a asp-action="Edit" asp-route-id="@item.CategoryID" class=" btn btn-primary px-3 mt-3 w-25 ">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-info px-3 mt-3 ">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger px-3 mt-3 ">Delete</a>
                </div>
            </div>


        }

</div>









